.taskItem {
  cursor: pointer;
}

.taskItem p {
  margin: 0 0 30px 0;
  font-size: 21px;
  line-height: 30px;
}

.completed p {
  position: relative;
  width: fit-content;
}

.completed p:before {
  position: absolute;
  left: -20px;
  top: 14px;
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--accent-color);
  animation: strike 0.1s ease-in forwards;
}

@keyframes strike {
  0% {
    width: 0px;
  }
  100% {
    width: calc(100% + 40px);
  }
}
