:root {
  --accent-color: #fe4775;
}

body {
  margin: 0;
  font-family: "Avenir LT Std", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#app-wrapper {
  max-width: 375px;
  width: 100%;
  margin: 0 auto;
}
